/* Body Section Related Information */
body {
    font-family: 'Roboto', sans-serif;
}


/* Header Section Related Information */
.header {
    /* background-image: url('./images/BannerImage.png'); */
    /* background-color: rgba(0, 0, 0, 0.514); */
    /* background-blend-mode: multiply; */
    background-image: linear-gradient(to bottom, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url('./images/BannerImage.png');
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: auto;
    padding: auto;

}

.container {
    width: 40%;
    /* max-width: 632px; */
    padding: 177px 366px;
    text-align: center;
    color: #FFF;

}

.header-text {
    font-size: 32px;
    font-weight: 400;
    margin-top: -10px;
}

.header-main-title {
    font-size: 65px;
    font-weight: 900;
    margin-top: -20px;
}


/* Body Main Offer Section Related Information */
.section-container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.offer-text {
    color: #F00;
    font-size: 88px;
    font-weight: 800;
    padding: 10px 50px;
}

.offer-text2 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
    margin-top: -55px;
}

.offer-text3 {
    color: #070211;
    font-size: 48px;
    font-weight: 800;
    margin-top: -30px;
}

.New-year-img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

/* Body Main Feature Banner Related Information */
.banner-container {
    background-image: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url(images/Vectorrr.png);
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: auto;
    padding: auto;


}

.feature-banner{
    display: flex;
    justify-content: space-between;
    text-align: center;
    


}