/* Body Section Related Information */
body {
    font-family: 'Roboto', sans-serif;
}


/* Header Section Related Information */
.header {
    /* background-image: url('./images/BannerImage.png'); */
    /* background-color: rgba(0, 0, 0, 0.514); */
    /* background-blend-mode: multiply; */
    background-image: linear-gradient(to bottom, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url('./images/BannerImage.png');
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: auto;
}

.container {
    width: 40%;
    /* max-width: 632px; */
    padding: 177px 366px;
    text-align: center;
    color: #FFF;

}

.header-text {
    font-size: 32px;
    font-weight: 400;
    margin-top: -10px;
}

.header-main-title {
    font-size: 65px;
    font-weight: 900;
    margin-top: -20px;
}


/* Body Main Offer Section Related Information */
.section-container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.offer-text {
    color: #F00;
    font-size: 88px;
    font-weight: 800;
    padding: 10px 50px;
}

.offer-text2 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
    margin-top: -55px;
}

.offer-text3 {
    color: #070211;
    font-size: 48px;
    font-weight: 800;
    margin-top: -30px;
}

.New-year-img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

/* Body Main Feature Banner Related Information */
.banner-container {
    background-image: linear-gradient(to right, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url(images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    flex-shrink: 0;
    margin: auto;
}

.feature-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 80px 0px;
}

.banner-heading {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-top: -50px;
}

.banner-paragraph {
    color: rgba(255, 255, 255, 0.80);
    text-align: justify;
    font-size: 18px;
    width: 600px;
    font-weight: 400;
    margin-top: -20px;
    margin-bottom: 50px;
}

.banner-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50;
    margin-left: 25px;
    letter-spacing: 2.04px;
    text-decoration: none;
}

.banner-image {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


/* Body Event Related Information */
.event-container {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0));
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    margin: 100px auto;
    border-radius: 8px;
}

.event-block {
    text-align: center;
    padding-top: 100px;
    font-size: 32px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 56px;
}

.text-scolor {
    color: #F00;
    font-size: 32px;
    font-weight: 800;
    text-transform: capitalize;
}

.join-now {
    color: #FFF;
    background-color: #F00;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
}


/* Coming Soon & Promo Related Information */
.coming-soon-container {
    display: flex;
    align-items: center;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: auto;
}

.coming-soon-title {
    max-width: 393px;
    padding-right: 100px;
    height: 255px;
    flex-shrink: 0;
}

.promo-design {
    width: 463px;
    height: 463px;
    flex-shrink: 0;
}

.promo-img {
    align-items: center;
    margin: 25px auto;
}

.promo-circle-image {
    border-style: solid;
    border-color: #F00;
    border-radius: 50%;
    padding: 15px;
    border-width: 10px;
}

.promo-text2 {
    width: 276px;
    height: 170px;
    flex-shrink: 0;
    padding-left: 50px;
}

.promo-text {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -25px;
}

.promo-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: -5px;
}

.promo-dis {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.promo-details {
    margin-left: 50px;
    width: 276px;
}

.text-2024 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-top: -50px;
    margin-bottom: -10px;
}

.new-year-promo {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    margin-top: -10px;
    padding-left: 40px;
}

/* Body Holyday Container Related Information */
.holyday-sell-container {
    margin: 100px auto;
    width: 1320px;
}

.holyday-title {
    text-align: center;
}

.holyday-text {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -50px;
}

.holyday-sell-title {
    color: #F00;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: -3px;
}

.holyday-sell-dis {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-left: 200px;
    margin-right: 200px;
}

.holyday-img-area {
    display: flex;
    width: 1320px;
}

#box-img {
    width: 796.463px;
    flex-shrink: 0;
    margin-bottom: -400px;
}

#box-image {
    width: 797px;
    height: 661px;
    margin-left: -100px;
}

.holyday-discount-area {
    background-image: url('images/Rectangle1.png');
    background-repeat: no-repeat;
    width: 429px;
    height: 433px;
    margin-left: 55px;
}

#holyday-discount-img {
    margin-left: -150px;
    margin-top: 100px;
}

#red-background {
    background-color: #F00;
    width: 1320px;
    height: 229px;
    flex-shrink: 0;
}

/* Body Gift Container Related Information */
.gift-container {
    text-align: left;
    margin: auto;
    width: 1320px;
    height: 1163px;
    flex-shrink: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gift-text {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.gift-text-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: -20px;
    margin-bottom: -10px;
}

.gift-text-dis {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-right: 450px;
}

.portfolio-image1 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px;

    position: relative;
    cursor: pointer;
    background-size: cover;
    transition: all 1.1s;
    
}

.portfolio-img:hover{
    transform: scale(1.1);
}

.portfolio-img2:hover{
    transform: scale(1.1);
}

.portfolio-img3:hover{
    transform: scale(1.1);
}

.portfolio-img4:hover{
    transform: scale(1.1);
}

.portfolio-img5:hover{
    transform: scale(1.1);
}

.portfolio-img6:hover{
    transform: scale(1.1);
}

.portfolio-image2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

/* body NewsLater Section Related Information */
.newsleter-sction {
    width: 1320px;
    height: 616px;
    margin: 120px auto;
    text-align: center;
    padding-top: 80px;
    background-color: rgba(255, 0, 0, 0.05);
}

.newslater-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 10px;
}

.newslater-dis {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: -25px 250px 0px 250px;
}

.subscribe-form {
    margin: 50px auto 50px auto;
}

.subscribe-email {
    width: 350px;
    height: 72px;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    border-radius: 50px 0 0 50px;
    border: none;
}

.subscribe-button {
    width: 220px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: -10px;
    border: none;
}

/* Footer Related Information */
.footer-section {
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
    background-color: rgba(7, 2, 17, 1);
    margin: auto;
    padding-top: 20px;
}

.footer-text {
    display: flex;
    color: #FFF;
    justify-content: space-between;
    width: auto;
    max-width: 70%;
    text-align: center;
    margin: 50px auto;
}

.hr-1 {
    border: 1px solid #FFFFFF26;
    width: 80%;
}

.footer-address {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.footer-contact {
    display: flex;
}

.footer-socail-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 650px;
}

.hr-2 {
    border: 1px solid #FFFFFF26;
    width: 80%;
}


.footer-contact-details {
    text-align: justify;
}

.footer-call-image {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.footer-number {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 40px;
    margin-top: -62px;
}

.footer-website-image {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.footer-website {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 40px;
    margin-top: -62px;
}

.footer-end-text {
    display: flex;
    justify-content: space-between;
    width: auto;
    max-width: 80%;
    text-align: center;
    margin: 50px auto;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}